

html {
    
    line-height: 1.7;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    color: rgb(107, 10, 10);;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    
}

s

.show-large {
    display: none;
}



/* Main Column Typography */

.section {
    padding: 0;
}


@media screen and (min-width: 767px) {
   

    .section {
        padding-left: 40px;
        padding-right: 40px;
    }
  
   

}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    
}

.container--fluid {
    max-width: 100%;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}




@media screen and (min-width: 767px) {
    

    .container--fluid {
        max-width: 960px;
        margin: 0 auto;
        padding: 0 20px;
    }

  
}

@media screen and (min-width: 1023px) {

    .container {
        max-width: 1000px;
    }

    .container--fluid {
        max-width: 1000px;
    }

    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {



    .container {
        max-width: 1200px;
    }

    .container--fluid {
        max-width: 1200px;
    }


   
}

.header {
    padding-top: 20px;
    color: #FFF;
    background-color: rgb(255, 255, 255);
    position: relative;
   
}

.header__title {

    margin: 0 auto ;
   
}



/* Site Navigation */
.nav {
    margin-top: 20px;
    margin-left: 12% ;
    
    
    
}

.nav__menu {
    display: block;
    font-size: 2em;
    position: absolute;
    padding: 0 15px;
    border-radius: 4px;
    top: 40px;
    right: 40px;
    background-color: rgb(107, 10, 10);
    
}


.nav__menu:hover {
    background-color: rgb(237, 152, 152);
    color: rgb(244, 242, 242);
    cursor: pointer;
}

.nav__list {
     display: none;  /*none */
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    /*直接覆蓋於原有資料上 */
    width: 100%;
    position: absolute;  
    z-index: 2;
    

  
}


.nav__item {
    list-style: none;
    margin-right: 5px;
}


.nav__link {
    display: block;
    color: rgb(107, 10, 10);
    background-color: #ffffff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    

}

.nav__link:hover {
    color: rgb(237, 152, 152);
}

.menu-click {
    display: block;
}

.nav-sublist {
    
    display: none;
    
   }
/* banner */

@media screen and (min-width: 767px) {
#div-show {
    position: relative;
    /* width:100%;  */
    height: 70%;
    display: table;
    margin: 0 auto;
    
    
    background-color: rgb(52, 21, 21);
    text-align: center;

  
} 

 #div-show img {
   
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#btnPrev {
    width: 30px;
    height: 30px;
    background-image: url("../images/icon/prev.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 15px;
   
}

#btnNext {
    width: 30px;
    height: 30px;
    background-image: url("../images/icon/next.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 15px;
}

#div-select {
    width: 70%;
    position: absolute;
    top: 90%;
    left: 45%;
    right: 20%;
    
}

#div-select div {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 15px;
}

.round {
    border-radius: 50%;
    border-width: 2px;
    border-color: rgb(8, 8, 8);
    border-style: solid;
    transition: 1.5s;
}

.addBorder {
    border-width: 2px;
    border-color: rgb(8, 8, 8);
    border-style: solid;
    background-color: rgb(107, 10, 10);
    /* margin-top: -10px; */
}


}


@media screen and (min-width: 768px) {
   

    .nav__menu {
        display: none;
        
    }

    .nav__list {
        display: block;
        display: flex;
        flex-wrap: wrap;
		/*直接覆蓋於原有資料上 */
        position: relative;
        
        
    }

    .nav__item {
        width: calc(100%/3);
        margin-right: 0;
        
    }

    .nav__link {
        margin-right: 5px;
        margin-bottom: 5px;
        

    }
  
}

@media screen and (min-width: 1023px) {
    .header__title {

        margin: 42% ;
       
    }
    .nav__item {
        width: auto;
        margin-right: 5px;
    }

    .nav__link {
        padding: 10px 20px;
        margin: 0px;
        text-align: center;
        
    }

}

@media screen and (min-width: 768px) {
    
    .nav-sublist {
        position: absolute;
        
        margin: 0;
        padding: 0;
        display: none;
        z-index: 9999;
       }
        .nav__link:hover {
            color: rgb(237, 152, 152);
        }
        
      
      .nav__item:hover>.nav__link {
       color: rgb(237, 152, 152);;
      }
      
      .nav-sublist .nav__link:hover {
       background-color: rgb(237, 152, 152);
       color: #fff;
      }
      
      .nav__item:hover .nav-sublist {
       display: block;
      }
      
     
    }


    @media screen and (min-width: 768px) and (max-width:1280px) {
        
        .sub-item{
            width:100%;
            display: block;
            
        }
        .sub-right{
            position: sticky;   
        } 
        
    }


/* End Site Navigation */
.content-area {
    background-color: #FFF;
    padding-bottom: 40px;
    padding-top: 20px;
}

@media screen and (min-width: 767px) {

    .header__title {

        margin: 40% ;
       
    }
    .content-area {
        padding-top: 40px;
    }
   
 
    #div-p {
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        position: relative;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .div-all {
        width: 100%;
        height: auto;
        background: rgb(255, 255, 255);
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

   

    #div-cont {
        width: 100%;
        height: auto;
        float: left;
        margin-left: 10px;
        overflow: hidden;
    }

    

    #btnPrev1 {
        width: 30px;
        height: 30px;
        background-image: url("../images/icon/prev.png");
        background-size: cover;
        position: absolute;
        top: 50%;
        left: -1px;
        z-index: 1;
    }

    #btnNext1 {
        width: 30px;
        height: 30px;
        background-image: url("../images/icon/next.png");
        background-size: cover;
        position: absolute;
        top: 50%;
        right: -1px;
        z-index: 1;
        
    }

    .img-p{
        height:30vh;
        object-fit:contain;
        
    }
    
}

@media screen and (min-width: 1023px) {
    .main-area {
        padding-right: 40px;
    }
}

#info {
    
    background-color: rgba(203, 143, 98, 0.605);
}


.ps{
    text-align: center;
}

.card-title{
    font-weight:bold;
}
.card-text{
    color: rgb(238, 71, 71);
}



.sidebar {
    color: #999;
    font-size: 85%;
}

.sidebar h3 {
    font-size: 138.5%;
    margin-bottom: 7px;
}

.info-box {
    background-color: #efeedb;
    border: 5px solid #e6e5c2;
    padding: 20px 40px 7px 40px;
    margin-bottom: 1em;
}

.box-a {
    background-color: #e7eff5;
    padding: 20px 20px 0 20px;
    border: 2px solid #d3dee7;
    margin-bottom: 15px;
}

.pos{

    margin-right:50px;
}

@media screen and (min-width: 767px) {
  

    .box-a {
        margin-bottom: 30px;
    }
}

/* Footer Style */
.fot {
    height: 75px;
    background-color: rgba(203, 143, 98, 0.605);
    text-align: center;
    font-size: 100%;
    color: rgb(107, 10, 10);
    padding-bottom: 20px;
    padding-top: 20px;
}

/* Grid Style */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.col {
    width: 100%;
    padding: 0 20px;
}

.col-xs-11 {
    width: 91.662%
}

.col-xs-10 {
    width: 83.332%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.662%;
}

.col-xs-7 {
    width: 58.331%
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.662%
}

.col-xs-4 {
    width: 33.332%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.662%;
}

.col-xs-1 {
    width: 8.332%;
}

@media screen and (min-width: 768px) {

    .col-sm-11 {
        width: 91.662%
    }

    .col-sm-10 {
        width: 83.332%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.662%;
    }

    .col-sm-7 {
        width: 58.331%
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.662%
    }

    .col-sm-4 {
        width: 33.332%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.662%;
    }

    .col-sm-1 {
        width: 8.332%;
    }

}


@media screen and (min-width: 1024px) {

    .col-md-11 {
        width: 91.662%
    }

    .col-md-10 {
        width: 83.332%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.662%;
    }

    .col-md-7 {
        width: 58.331%
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.662%
    }

    .col-md-4 {
        width: 33.332%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.662%;
    }

    .col-md-1 {
        width: 8.332%;
    }

}

@media screen and (min-width: 1280px) {

    .col-lg-11 {
        width: 91.662%
    }

    .col-lg-10 {
        width: 83.332%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.662%;
    }

    .col-lg-7 {
        width: 58.331%
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.662%
    }

    .col-lg-4 {
        width: 33.332%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.662%;
    }

    .col-lg-1 {
        width: 8.332%;
    }

}




